-i https://pypi.org/simple
# Core
Django==4.2.27
djangorestframework==3.16.1
django-filter==25.1
django-cors-headers==4.9.0
django-redis==6.0.0
djangorestframework-simplejwt==5.5.1
djoser==2.3.3
drf-spectacular==0.29.0

# Database & server
mysqlclient==2.2.7
gunicorn==23.0.0
whitenoise==6.11.0

# Celery & Redis
celery==5.6.2
redis==7.0.1

# Auth & HTTP
requests==2.32.5
social-auth-app-django==5.4.3

# Utils
python-dotenv==1.2.1
pillow==11.3.0
